extends layout

block content
  .container
    h1 choose Date
    .form-inline
      .form-group
        input.form-control(type="text",name="time",value="")
        button#btn.btn.btn-default 选择
    h3#tips
    h1#h1
    h2#h2
    img#img
    p#p
  script.
    'use strict'
    $(document).ready(function(){
      $('input[name="time"]').daterangepicker({
             singleDatePicker: true,
             showDropdowns: true,
             locale:{
              
             }
         }, 
         function(start, end, label) {
            $('input[name="time"]').val(start.format('YYYY-MM-DD'))
         });
    })
    
    $('#btn').click(function () {
      
      if($('#datetimepicker').val() != ''){
        ajaxApod($('#datetimepicker').val())
      }
      
    })
    function ajaxApod (date) {
      $('#tips').text('loading...')
      $.ajax({
        type:'get',
        url:'/apod',
        data:{
          date:date
        },
        success:function (res) {
          console.log(res)
          if(res.code && res.code == '0000'){
            $('#tips').text('')
            var data = res.data
            console.log(data)
            $('#h1').text(data.title)
            $('#h2').text(data.date)
            $('#p').text(data.explanation)
            $('#img').attr('src',data.url)
          }else{
            $('#tips').text(res.code+'_'+res.msg)
          }
        },
        error:function  (res) {
          $('#tips').text(res)
          console.log(res)
        }
      })
    }
    

   
